.Tabs-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Tabs-header {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin-bottom: 1rem;
}

.Tabs-content {
  width: 100%;
  padding: 0.5rem 0;
}
